/* ##### Global Styles ##### */
* {
    scroll-behavior: smooth;
}

/* ###### Global Typography Reset ###### */
body, p, span, a, li, h1, h2, h3, h4, h5, h6 {
    letter-spacing: 0;
    line-height: 1.3;
    opacity: 1;
    /* color: rgba(var(--color-foreground), 1); */
    /* font-family: var(--font-body-family); */
}

